html {
  font-size: 16px;
}
body {
  font-family: "Helvetica", sans-serif;
}
header {
  display: flex;
  background-color: white;
  color: black;
  height: 4rem;
  width: 100%;
  align-items: center;
  top: 0;
  justify-content: space-between;
  position: fixed;
}
.desktop {
  display: flex;
  padding-right: 1.25rem;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-size: 1rem;
}
.academy {
  color: lightgray;
}
a {
  text-decoration: none;
  color: black;
  padding-left: 1rem;
}
.banner {
  background-color: LightGrey;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  overflow: hidden;
}
.main {
  display: flex;
  flex-direction: row;
  padding-top: 64px;
  margin-left: 0;
}
.image-banner {
  width: 60%;
  padding: 2rem 2.5rem 2rem 1.5rem;
}
.image-banner img {
  max-width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: gray;
  width: 423px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.content p {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.button a {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: black;
  font-size: 1.5rem;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.news {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
.image-news {
  width: 60%;
  padding: 2rem 2.5rem 2rem 1.5rem;
}
.image-news img {
  max-width: 100%;
}
.image-news h1 {
  color: Grey;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.image-news p {
  color: Grey;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 2rem;
  line-height: 1.2;
  font-style: italic;
}
.image-news span {
  color: Grey;
  font-size: .8rem;
  font-weight: bold;
}
.articles {
  display: flex;
  flex-direction: column;
  width: 423px;
  margin-top: 2rem;
  align-content: center;
  border-left: solid;
  border-color: LightGrey;
  border-width: thin;
}
.article {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.article img {
  width: 35%;
  padding: 1rem;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}
.description {
  align-content: center;
}
.description h1 {
  color: Grey;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: .5rem;
}
.description p {
  color: Grey;
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: .5rem;
}
.description a {
  color: Blue;
  font-size: 1rem;
  padding-left: 0;
}
.bottom-middle {
  background-color: LightGrey;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.bottom-middle h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: Grey;
}
.bottom-mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.sub-container {
  height: auto;
  width: 26%;
  background-color: White;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.image-course {
  width: 100%;
}
.image-course img {
  max-width: 100%;
}
.course {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.course h2 {
  color: Grey;
  font-weight: bold;
  font-size: 1.5rem;
}
.course p {
  color: Grey;
  font-size: 1rem;
  padding-top: .5rem;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-left: 0;
}
.bottom h1 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: Grey;
}
.thesis {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: auto;
}
.bottom-left {
  display: block;
  width: 60%;
  height: auto;
  margin: 0;
}
video {
  max-width: 100%;
  height: auto;
}
.exhibit h2 {
  font-size: 1.5rem;
  color: Grey;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-weight: bold;
}
.exhibit p {
  font-size: 1rem;
  color: Grey;
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 2rem;
  font-style: italic;
}
.bottom-right {
  display: flex;
  flex-direction: column;
  width: 423px;
  align-content: center;
}
.bot-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bot-right img {
  width: 35%;
  padding: 1rem;
  height: auto;
}
.fisma {
  align-content: center;
}
.fisma h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: Grey;
  padding-bottom: 1rem;
}
.fisma p {
  color: Grey;
  font-size: 1rem;
}
footer {
  display: block;
  align-content: center;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  color: Grey;
  border-top: solid;
  border-width: thin;
  border-color: LightGrey;
}
.footer a {
  float: right;
  margin-right: 1rem;
  color: Grey;
}
